.keyboard {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	background-color: grey;
	height: 200px;
	width: 85%;
	flex-wrap: wrap;
	align-content: space-evenly;
	align-self: center;
}

.key {
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 2px;
	height: 25px;
	width: 25px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
}

.key:hover {
	background-color: white;
}
