#keyboard {
  background-color: #181818;
  #key {
    background-color: #818384;
    color: black;
  }
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto;
  padding: 10px;
  max-width: 362px; 
    .key {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1px;
      width: 35px;
      height: 35px;
      font-size: 1em;
      font-weight: bold;
      background-color: darkgray;
      border: 1px solid #ccc;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
}

@media (min-width: 768px) {
  .keyboard {
      max-width: 600px;
      margin: 17px auto;
      .key{
        margin: 5px;
        font-size: 1.2em;
      }
    }
  }

@media (min-width: 992px) {
  .keyboard {
    width: 736px;
      .key {
        margin: 5px;
        width: 35px;
        height: 35px;
      }
  }
}

@media (min-width: 1200px) {
  .keyboard {
    margin-top: 38px;
    width: 753px;
    .key {
      height: 43px;
      width: 50px;
    }
  }
}